
@{
	ViewBag.Title = "Contact";
}

<h2>Contact</h2>

@Html.Partial("_EmployeeList")
<br />
<br />
@{
	Html.RenderPartial("_EmployeeList");
}



@Html.Partial("_LoginPartialView")

<br />
<br />
@{
	Html.RenderPartial("_LoginPartialView");
}